.main-nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.left-nav > ul,
.right-nav > ul {
  align-items: baseline;
}

.left-nav > ul > li {

}

.right-nav > ul > li {

}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}

.left-nav span {

}


.right-nav i {

}